.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardProyect{
    max-width: 260px;
    min-height: 460px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.cardProyect:hover{
    box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%)
}

.cardProyect__icon{
    height: 200px;
}

.cardProyect .cardProyect__contect{
    padding: 15px;
    text-align: center;
}

.cardProyect .cardProyect__contect p{
    line-height: 1.5;
}

.cardProyect .cardProyect__contect h3{
    margin-bottom: 15px;
}

.cardProyect .cardProyect__contect a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    width: 75%;
}

.cardProyect .cardProyect__contect a:hover{
    background: #2fb4cc;
    color: #fff
}