.contact__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__content--btn {
    margin-left: 20px;
}

.contact--title{
    margin-top: 70px;
    padding: 15px;
    background-color: #731007;
    filter: drop-shadow(8px 8px #9c5446);
    display: flex;
    justify-content: center;
}