.home{
    overflow: hidden;
}

.home__complete-name {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home__complete-name--Mauricio,
.home__complete-name--Marinkovich {
    font-size: 9rem;
    color: white;
}

.home__developer {
    font-size: 2rem;
    color: white;
}