.home {
    height: 100vh;
    background-color: rgb(251, 207, 101);
}

.home__complete-name {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home__complete-name--Mauricio,
.home__complete-name--Marinkovich {
    font-size: 10rem;
}

.home__developer--frontend {
    font-size: 2rem;
}