.about-me__profile {
    height: 260px;
    width: 260px;
    border-radius: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../Images/About-me/MauricioMarinkovich.jpg);
}

.about-me__info {
    color: black;
    text-align: center;
}

.about-me__info--title{
    padding: 15px;
    background-color: #731007;
    filter: drop-shadow(8px 8px #9c5446);
    display: flex;
    justify-content: center;
}

.about-me__info--description{
    font-size: 1.3rem;
}