.about-me__profile {
    height: 260px;
    width: 260px;
    border-radius: 160px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../Images/About-me/MarinkovichMauricioYannick.jpg);
}

.about-me__info {
    color: #868e96;
    text-align: center;
}