.about-me__profile {
    height: 150px;
    width: 150px;
    background-blend-mode: normal;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 78px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #666;
    background-image: url(../../Images/About-me/Marinkovich\ Mauricio\ Yannick.jpg)
}

.about-me__info {
    color: #868e96;
    text-align: center;
}