.navbar {
    position: fixed;
    width: 100%;
    background-color: #731007 !important;
    z-index: 1000;
    box-shadow: 0 1px 5px 0 black;
}

.navbar-collapse{
    justify-content: center;
    align-items: center;
}

.nav-item{
    padding: 0 20px;
}

.navbar__menu {
    color: white !important;
    text-decoration: none;
    font-size: 20px;
    border-radius: 1rem;
    padding: 1rem;
}

.navbar__menu:hover {
    color: white !important;
    background: #9c5446;
}

.spread {
    transform: translate(0);
}