* {
    user-select: none;
}

:root {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #3f434c !important;
    font-family: 'Gibson', sans-serif;
}

.intro {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--theme-ui-colors-divide, #bea187);
}

.intro__text {
    text-align: center;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight:bold;
    color: #bea187;
}

@media (max-width:1500px) {
    .navbar {
        width: 30vw;
    }
}

@media (max-width:1400px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 7.5rem;
    }
}

@media (max-width:1280px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 8rem;
    }
    .home__developer {
        font-size: 2rem;
    }
    .navbar {
        width: 40vw;
    }
}

@media (max-width: 1200px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 6rem;
    }
}

@media (max-width:600px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 5rem;
    }
    .navbar {
        width: 75vw;
    }
}

@media (max-width:500px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 4.2rem;
    }
    .home__developer {
        font-size: 1.4rem;
    }
}

@media (max-width: 400px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 3.2rem;
    }
    .navbar__hamburguer {
        z-index: 998;
    }
    .navbar__name {
        font-size: 30px;
    }
}

@media (max-width: 300px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 2.7rem;
    }
}

.AnimationDelay-2000ms{
    animation-delay: 2000ms; 
}

.AnimationDelay-2500ms{
    animation-delay: 2.5s; 
}

.AnimationDelay-3000ms{
    animation-delay: 3000ms; 
}

.AnimationDelay-3500ms{
    animation-delay: 3500ms; 
}

.AnimationDelay-4000ms{
    animation-delay: 4000ms; 
}

.AnimationDelay-4500ms{
    animation-delay: 4500ms; 
}

.AnimationDelay-5000ms{
    animation-delay: 5000ms; 
}

.AnimationDelay-5500ms{ 
    animation-delay: 5500ms; 
}