* {
    user-select: none;
}

:root {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #3f434c !important;
    font-family: 'Gibson', sans-serif
}

.intro {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--theme-ui-colors-divide, #cbd5e0);
}

.intro__text {
    text-align: center;
    font-size: 20px;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(0, 0, 0);
}

@media (max-width:1500px) {
    .navbar {
        width: 30vw;
    }
}

@media (max-width:1280px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 8rem;
    }
    .home__developer {
        font-size: 2rem;
    }
    .navbar {
        width: 40vw;
    }
}

@media (max-width:800px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 6rem;
    }
    .home__developer {
        font-size: 1.7rem;
    }
    .navbar {
        width: 60vw;
    }
}

@media (max-width:600px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 5rem;
    }
    .navbar {
        width: 75vw;
    }
}

@media (max-width:500px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 4.2rem;
    }
    .home__developer {
        font-size: 1.4rem;
    }
}

@media (max-width: 400px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 3.2rem;
    }
    .navbar__hamburguer {
        z-index: 998;
    }
    .navbar__name {
        font-size: 30px;
    }
}

@media (max-width: 300px) {
    .home__complete-name--Mauricio,
    .home__complete-name--Marinkovich {
        font-size: 2.7rem;
    }
}